* {
  /* `otf-font-awesome` is required to be installed for icons */
  color : @text;
  font-family: FontAwesome, CascadiaCode;
  font-size: 15px;
}



window#waybar {
/*  background-color: alpha(@base, 0.9);*/
  border: 2px solid alpha(@crust, 0.3);
  border-radius: 15px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}


#workspaces {
  margin: 0;
}

#workspaces button {
  padding: 0 5px;
  margin: 5px;
  background-color: @background;
  color: #6980a7;
  border-radius: 16px;
}

#workspaces button:hover {
  color: #6980a7;
}

workspaces button.active {
    padding: 0 0 0 0;
    margin: 4px 0 6px 0;
    min-width: 36px;
}
#workspaces button.focused {
    background-color: #6980a7;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}


#tray {
  padding: 7px;
  margin: 5px 0 5px 0;
  background-color: @background;
  color: #d8dee8;
  border-radius: 12px;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}


#custom-cmus {
  padding: 0 15px 0 15px;
  margin: 5px 0 5px 0;
  background-color: @background;
  color: #b9f27c;
  border-radius: 15px;
}


#window {
  padding: 0 15px 0 15px;
  margin: 5px 0 5px 0;
  background-color: @background;
  color: @white;
  border-radius: 12px;
}

#audio_idle_inhibitor
#disk,
#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-power,
#custom-pacman,
#custom-weather,
#language{
  padding: 0 15px 0 15px;
  margin: 5px 0 5px 0;
  background-color: @background;
  color: @white;
  border-radius: 12px;
}

#custom-pacman,
#clock{
  color: #b4befe;
}

#memory{

	color: #94e2d5;
}
#disk{
  color: #f9e2af;
  }
#language {
  color: @yellow;
}

#temperature {
  color: #89b4fa;
}

#cpu {
	color: #f38ba8;
}

#network {
  color: #a6e3a1;
}

#pulseaudio {
  color: #fab387;
}

#battery {
	color: @blue;
}

#mode,
#custom-weather {
  color: @green;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

label:focus {
  background-color: #ffffff;
}


#battery.charging, #battery.plugged {
	color: @green;
  background-color: @background;
}

#battery.warning:not(.charging) {
  background-color: @background;
  color: @orange;
}

#battery.critical:not(.charging) {
  background-color: @barkground;
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
